# Python関連
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
*.egg
*.log

# 仮想環境
venv/
.env

# IDE・エディタ
.vscode/
.idea/

# OSごみファイル
.DS_Store
Thumbs.db

# テスト出力
htmlcov/
.tox/
coverage.xml
.pytest_cache/

# その他
*.sqlite3
static/uploads/*        # アップロードされたファイル（必要に応じて）
!static/uploads/.gitkeep  # 空ディレクトリを保持したい場合

# アップロード画像を除外
static/uploads/